.Card {
    background: linear-gradient(hsl(213deg 27% 17% / 76%), hsl(213deg 24% 10%));;
    width: fit-content;
    margin: auto;
    padding: 1.5em;
    text-align: left;
    width:340px;
    max-width: 100vw;
    max-height: 100vw;
    border-radius: 25px;
    transition: all 0.4s;
}

.Card h3 {
    font-size: 25px;
    color:hsl(0, 0%, 100%);
    margin-block-end: 10px;
    margin-block-start: 20px;
}
.Card p {
    font-size: 15px;
    color:hsl(217, 12%, 63%);
    line-height: 1.5em;
    font-weight: 400;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;

}

.submitWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    padding-bottom: 10px;
}

